@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

canvas {
    z-index: -100000;
}

body,
canvas {
    padding: 0;
    margin: 0;
    position: fixed;
}

body {
    overflow: hidden;
    font-family: "DM Sans" !important;
    /* background-color: #181818; */
    background-image: linear-gradient(60deg, #181818, #1f2024 40%, #18181800 100%);
    /* background: radial-gradient(circle at bottom, #fff, transparent 80%), linear-gradient(to top, dodgerblue 0%, transparent 70%), linear-gradient(to bottom, transparent, rgba(#fff, 0.4) 70%), #1e90ff;   */
    /* background: radial-gradient(circle at bottom, rgba(255, 255, 255, 0), transparent 80%), linear-gradient(to top, rgba(20, 20, 20, 0.164) 0%, transparent 70%), linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.068) 70%), #4b5e7118; */
    background-color: #1c1b1b;
}

.translate{
    transform-origin: 0 0;
}

#title {
    margin: 5px 5px 15px 5px;
}

.material-symbols-outlined {
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-anchor: middle;
    font-size: medium !important;
    font-variation-settings:
        'FILL'0,
        'wght'300,
        'GRAD'0,
        'opsz'48
}

#overlay {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    padding: 20px;
    z-index: 10000;
    color: white;
    border: 2px solid rgba(200, 200, 200, 1);
    border-radius: 20px;
    background-color: rgba(150, 150, 150, 0.1);
}

button, .label {
    margin: 0 2px;
    padding: 10px 20px;

    font-family: "DM Sans" !important;
    font-weight: 400;
    font-size: small;
    color: white;
    border: 2px solid rgba(200, 200, 200, 1);
    border-radius: 20px;

    transition: 0.5s background cubic-bezier(0, 0.96, 0, 0.99), 0.5s;
    background: linear-gradient(-65deg, rgb(205, 205, 205) 40%, rgb(40, 40, 40) 42%, rgb(205, 205, 205) 40%, rgb(40, 40, 40) 45%, rgb(40, 40, 40) 48%, rgb(205, 205, 205) 50%, rgb(205, 205, 205) 70%, rgba(40, 40, 40, 0) 70%);
    background-size: 400% 100%;

    background-position: 0 0;

}

button:hover, .label:hover {
    background-position: 100% 50%;

    background-color: rgb(205, 205, 205);
    color: rgb(48, 48, 48);
    /* border-radius: 20px; */
}

.pointer-none {
    pointer-events: none;
}

.selected {
    background-color: rgba(47, 161, 37, 0.8) !important;
    color: white !important;
}

.selected:hover {
    background-color: rgba(84, 206, 62, 0.8) !important;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
}

.accordion {
    background-color: rgba(73, 73, 73, 0.139);
    margin-top: 1rem;
    padding: 0 15px;
    border-radius: 10px;
    border: 2px solid rgba(200, 200, 200, 1);
    /* display: none; */
}

.accordion-header {
    display: flex;
    flex-direction: row;
    width: calc(100%-10px);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.accordion-header:hover {
    background-color: #2b2b2b;
    border-radius: 15px;
    box-shadow: inset -2px 0 0 rgb(255, 255, 255), inset 0 -2px 0 rgb(255, 255, 255), inset 2px 0 0 rgb(255, 255, 255), inset 0 2px 0 rgb(255, 255, 255);
}

.accordion-title {
    margin: 0px;
    -webkit-user-select: none;
    user-select: none;
}

.accordion-content {
    transition: max-height 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.accordion-closed {
    max-height: 0 !important;
    overflow: hidden;
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
        /* scale: 0; */
    }

    100% {
        transform: scale(1);
        /* scale: 1; */
    }
}

.card {
    position: absolute;
    text-align: center;
    text-anchor: middle;

    padding: 1px 20px;
    height: fit-content;
    width: max-content;
    max-width: 20vw;

    border: 2px solid rgba(200, 200, 200, 1);
    border-radius: 20px;

    /* box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4); */

    /* -webkit-backdrop-filter: blur(8px); */
    /* backdrop-filter: blur(8px); */
}

.text {
    color: white;
    text-align: center;
    text-anchor: middle;
    padding: 10px 10px;
    margin: 5px;
    cursor: default;
}

.text:focus {
    outline: none;
}

.text[contenteditable]:empty::before {
    content: "Enter text";
    color: rgba(255, 255, 255, 0.5);
}

#peer-id {
    color: white;
    text-align: center;
    text-anchor: middle;

    font-size: small;

    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 2px solid rgba(200, 200, 200, 1);
    border-radius: 3rem;

    /* max-width: calc(100% - 20px) !important; */
    max-width: 20vw;
    /* width: auto; */
    overflow-wrap: break-word;
    word-break: break-all;
}

#peer-id[contenteditable]:empty::before {
    content: "Enter id";
    color: rgba(255, 255, 255, 0.5);
}

#connect-button,
#host-peer-button {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 1rem;
}

.actions-button {
    text-anchor: middle;
    text-align: center;
    /* padding: 10px 10px; */
    padding: 0;
    width: 2.2rem;
    height: 2.2rem;

    background-color: #1a1a1adc;
    color: white;
    border: 2px solid rgba(200, 200, 200, 1);
    border-radius: 100%;
}

.color-picker {
    width: 2em;
    height: 2em;
    border-radius: 50% !important;
}

#clr-picker {
    z-index: 10000000000;
}

/* Keyframes named connection */
@keyframes connection {

    /* at 0, opacity 0 */
    0% {
        opacity: 0;
        transform: scale(0);
    }

    /* at 1, opacity 0.2 */
    100% {
        opacity: 0.5;
        transform: scale(0.75);
    }
}

.break-link-button {
    position: absolute;
    text-anchor: middle;
    vertical-align: middle;

    text-align: center;
    padding: 4px;

    color: white;
    border: 1.5px solid rgba(200, 200, 200, 1);

    transform-origin: 0 0;
    transition: 0.5s all, 0.2s opacity, 0.2s transform, 0s left, top;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    transform: scale(0.75);
    opacity: 0.1;
}

.break-link-button:hover {
    box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1);
    opacity: 1;
}

.actions {
    padding-top: 5px;
    position: absolute;
    display: inline-flex;
    text-align: center;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.card:hover>.actions {
    transform: translateX(-50%) scale(1);
    opacity: 1;
    filter: blur(0px);
}

@keyframes dialog {
    0% {
        transform: translate(-50%, -50%) scale(0.4, 0.5);
        opacity: 0;
        /* scale: 0; */
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        /* scale: 1; */
    }
}

.dialog {
    animation: 0.5s dialog;
    animation-fill-mode: forwards;

    padding: 20px 40px;
    background-color: #2b2b2b;
    color: #ffffff;
    position: absolute;
    border: 2px solid rgba(200, 200, 200, 1);
    border-radius: 50px;
    left: 50vw;
    top: 50vh;
    box-shadow: 0px 0px 1000px 600px rgba(0, 0, 0, 0.4);
    z-index: 10000000;
}

.dialog-header {
    padding: 0;
    margin: 1rem 0;
}

.dialog-content {
    padding: 0;
    margin: 1rem 0;
}

.dialog-button {
    /* transition: margin-left 0s, transform 0s, all 0.5s;
    margin-left: 50%;
    transform: translateX(-50%); */
}

.dialog-button-container {
    transition: margin-left 0s, transform 0s, all 0.5s;

    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@keyframes dialog-remove {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
}

.dialog-remove {
    animation: 0.3s dialog-remove;
    animation-fill-mode: forwards;
    left: 50vw;
    top: 50vh;
}

.obstructor {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(74, 74, 74, 0.5);
    pointer-events: all;
    z-index: 10000;

    filter: blur(4px);

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    transition: 0.3s;
}

.obstructor-remove {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0);
}

input[type="file"] {
    /* opacity: 0; */
    display: none;
}